html{
  font-size: 16px;
}

*{
  font-family: Arial;
}

.article{
  display: none;
}

#desktop-classes{
  display: none;
}

#desktop-thesis{
  display: none;
}

nav{
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: white;
  z-index: 5;
  flex-direction: row;
}

#mobile-nav .left{
  align-items: flex-start;
}

#mobile-nav .right{
  align-items: flex-end;
}

nav img{
  height: 2rem;
  width: auto;
}

header{
  display: flex;
  width: 100%;
  position: fixed;
}

.learn{
  display: flex;
  background-color: lightgray;
}

#learnbox{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#learnbox h1{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

#learnbox h2{
  margin-bottom: 1.5rem;
}

.learn img, .orientation img, #campus img, .guest img{
  width: 100%;
  height: auto;
}

.button{
  background-color: gray;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.button h3{
  color: white;
  font-weight: bold;
  text-align: center;
}

.orientation, .campus, .guest{
  margin: 1rem;
}

.orientation h1, .orientation h2, .orientation p, .campus h1, .campus h2, .campus p, .guest h1, .guest h2, .guest p{
  margin-left: 1rem;
}

.orientation p, .campus p{
  margin-bottom: 4rem;
}

.guest p{
  margin-bottom: 2rem;
}

.classes{
  margin-bottom: 2rem;
}

.classes h1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.but{
  width: auto;
  margin: 1rem 0.5rem;
  background-color: lightgray;
}

.but h2{
  margin: 1rem 1rem 1.5rem auto;
  text-align: center;
}

.thesis h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

video{
  margin-bottom: 2rem;
  width: 100%;
}

footer{
  margin: 1rem;
}

@media only screen and (min-width: 768px){
  #mobile-nav{
    display: none;
  }
  #mobile-buttons{
    display: none;
  }
  #desktop-nav{
    display: flex;
  }
  #desktop-classes{
    display: flex;
  }
  #desktop-thesis{
    display: flex;
  }
  .article{
    display: flex;
  }
  .learn{
    flex-direction: row;
  }
  .learn img{
    width: 60%;
    height: auto;
  }
  #learnbox{
    display: block;
  }
  #desktop-nav .left{
    align-items: flex-start;
  }
  #desktop-nav .right{
    align-items: flex-end;
  }
}
