html{
  font-size: 16px;
  color: #000080;
}

/* latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v8/3IFMwfRa07i-auYR-B-zNRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(https://fonts.gstatic.com/s/crimsontext/v8/rEy5tGc5HdXy56Xvd4f3I8hHwsiXhsDb0smKjAA7Bek.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-weight: 400;
  src: local('Faustina Regular'), local('Faustina-Regular'), url(https://fonts.gstatic.com/s/faustina/v2/Smm27jtSsrYS2UJN1wzM0RkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-weight: 400;
  src: local('Faustina Regular'), local('Faustina-Regular'), url(https://fonts.gstatic.com/s/faustina/v2/BEL0cXsTgiEuOwugqgXMR3YhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v8/MIPWVWI_mY_QERxcMVPEwIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v8/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v8/DugPdSljmOTocZOR2CItOojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v8/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
p{
  font-family: 'Faustina', serif;
}
h1, h2, h3, h4{
  font-family: 'Fira Sans', sans-serif;
}
nav{
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: #FF8B94;
  z-index: 5;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav img{
  height: 2rem;
  width: auto;
}

header{
  display: flex;
  width: 100%;
  position: fixed;
  top: -0.05rem;
  flex: 10 10 auto;
  justify-content: space-between;
  z-index: 5;
  flex-direction: row;
}
h1{
  justify-content: center;
}
.button #login{
  background-color: #FF8B94;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.button #login:hover{
  background-color: #000080;
  transition: 500ms linear 100ms;
}

.button #login:active{
  background-color: #A7E1FF;
  transition: 500ms linear 100ms;
}

.button #login h3{
  color: white;
  font-weight: bold;
  text-align: center;
}
.learn{
  display: flex;
  background-color: #A7E1FF;
  flex-direction: column;
}

#home{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#home h1{
  margin-top: -2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding-top: 4rem;
}

#home h2{
  margin-bottom: 1.5rem;
}

.orientation img, .campus img, .guest img{
  width: 100%;
  height: auto;
}

.learn img{
  padding-top: 4rem;
  width: 100%;
  height: 75%;
  display: block;
}

#thesis h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

video{
  margin-bottom: 2rem;
  width: 100%;
}

footer{
  margin: 1rem;
}

.orientation, .campus, .guest{
  margin: 1rem;
}

.orientation h1, .orientation h2, .orientation p, .campus h1, .campus h2, .campus p, .guest h1, .guest h2, .guest p{
  margin-left: 1rem;
}

.orientation p, .campus p{
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.guest p{
  margin-bottom: 2rem;
}

.classes{
  margin-bottom: 2rem;
}

.classes h1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* Mobile version */

@media only screen and (max-width: 768px){
.main-left, .desktop-aside, #desktop-classes, .desktop-thesis, #desktop-classes, .desktop-nav, #desktop-foot{
  display: none;
}

#mobile-nav{
  justify-content: space-between;
}

#mobile-info{
  display: flex;
  flex-direction: column;
}
#mobile-info p{
  color: blue;
}
.but{
  width: auto;
  margin: 1rem 0.5rem;
  background-color: #FF8B94;
}

.but:active{
  background-color: #A7E1FF;
  transition: 500ms linear 100ms;
}
.but h3{
  margin: 1rem 1rem 1.5rem auto;
  text-align: center;
  padding: 1rem 1rem 1.5rem 1rem;
}
}

/* Tablet and desktop version */

@media only screen and (min-width: 768px){
  nav{
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #FF8B94;
    z-index: 5;
    flex-direction: row;
  }
  #mobile-nav, #mobile-buttons, #mobile-info, #mobile-thesis, #mobile-foot{
    display: none;
  }
  .button #login{
    background-color: #FF8B94;
  }
  .button #login:hover{
    background-color: #000080;
    transition: 500ms linear 100ms;
  }
  .button #login:active{
    background-color: #A7E1FF;
    transition: 500ms linear 100ms;
  }
  .button #login h3{
    padding: 0.5rem 0.5rem;
  }
  #desktop-foot{
    display: inline-flex;
  }
  .desktop-nav{
    display: flex;
    font-family: 'Crimson Text', serif;
  }
  #right{
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
  }
  #right a{
    margin: 0rem 1rem;
    color: #000080;
  }
  #left{
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  #left a{
    color: #000080;
  }
  #left img{
    position: relative;
    top: 0.95rem;
  }
  #classes{
    margin-top: 4rem;
  }
  #desktop-classes{
    display: inline-flex;
    flex-flow: row wrap;
    margin: 2rem 4.5rem;
  }
  .desktop-thesis{
    display: flex;
  }
  .article{
    display: flex;
  }
  .learn{
    flex-direction: row;
  }
  .learn img{
    width: 60%;
    height: 40%;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
  #home{
    display: block;
    width: 100%;
  }
  #home h1{
    margin-top: 4rem;
  }
  .desktop-nav #left{
    align-items: flex-start;
    justify-content: center;
  }
  .desktop-nav #left a span{
    text-transform: uppercase;
  }
  .desktop-nav #right{
    align-items: flex-end;
    justify-content: center;
  }
  #classes{
    background-color: #A7E1FF;
  }
  #classes h1{
    margin: 0px auto;
  }
  .container{
    margin: 1rem;
    background-color: white;
    width: 16rem;
    height: 19rem;
  }
  .container h4{
    text-transform: uppercase;
    font-weight: normal;
    margin: .5rem 1rem;
  }
  .container h3, .container p{
    margin-left: 1rem;
  }
  .container img{
    width: 100%;
    height: auto;
  }
  #main{
    width: 1024px;
  }
  .article{
    flex-flow: row wrap;
  }
  .main-left{
    width: 60%;
    height: auto;
  }
  .main-left img{
    width: 100%;
  }
  .main-right{
    width: 40%;
    height: auto;
  }
  .desktop-aside{
    display: flex;
    flex-direction: column;
    }
  .desktop-aside img{
    width: 70%;
    height: 70%;
    margin: 1rem 1rem;
  }
  .orientation, .campus, .guest{
    display: flex;
    flex-direction: row;
    border: 1px solid #000080;
    width: 100%;
    margin: 0px auto;
  }
  .guest{
    background-color: #A7E1FF;
  }
  .text{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0rem 0rem 0rem -3rem;
  }
  .text h2, .text h4, .text p{
    margin: 0.5rem 0rem;
  }
  .text p{
    color: blue;
  }
  #thesis h1{
    justify-content: center;
  }
  #thesis p{
    color: #000080;
  }
  .thesis-left{
    width: 60%;
  }
  .thesis-right{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .thesis-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
  }
  .thesis-box #fisma{
    background-color: #A7E1FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
  }
  .thesis-box img{
    width: 70%;
    height: 70%;
    margin: 1rem 1rem;
  }
  #desktop-foot{
    display: flex;
    justify-content: space-between;
  }
}
